@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS para Impressão da OP */
@media print {
  body * {
    visibility: hidden;
  }
  #print-area, #print-area * {
    visibility: visible;
  }
  #print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
  }
  
  /* Ajustes para caber em A4 */
  @page {
    size: A4;
    margin: 1cm;
  }
  
  /* Forçar quebras de página */
  .page-break {
    page-break-after: always;
  }
  
  /* Esconder botões na impressão */
  .no-print {
    display: none !important;
  }
}
